html, body {
    margin: 0;
    padding: 0;
}

h3{
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color:#4d4949;
    padding: 10px;
    width: 100%;
    display: block;
    box-sizing: border-box; 
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

a:hover{
    background-color: rgb(234, 234, 234) ;
    color: black;
}

ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4d4949;
    line-height: 1.65;
    padding-bottom: 1000px;
}

.container-satu {
    width: 800px;
    margin: 50px auto;
    background-color: rgb(234, 234, 234);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    
}

.sidebar-satu, .sidebar-dua {
    width: 120px;
    flex-shrink: 0; 
    text-align: justify;
    
}

.sidebar-satu{
    display: flex;
    flex-direction: column;
    
}

.kolom-utama {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: justify;
}

.gambar{
    width: 100%;
}







